.container {
    display: grid;
    grid-auto-columns: 1fr 2fr;
    grid-template-areas: 
    "aside header"
    "aside main"
    "aside footer";
}

aside {
    grid-area: aside;
    background-image: url("/Assets/images/hans-loebermann-VKnY6ugV8Ro-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    width:
}

aside h1 {
    align-self: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: Norse;
}

aside caption {
    grid-area: aside-end
    justify-self: end;
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

form div, form input {
    display: block;
}

form input {
    border: 1px solid black
    border-radius: 50%;
}